body {
  color: black;
  font-family: roboto;
  text-align: center;
  margin: 50px;
  padding: 5px;
  border: 2px solid black;
  overflow: auto;
}

.header {
  margin-top: 25%;
  margin-left: 100px;
  margin-right: 100px;
}

.content {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.page-message {
  text-align: justify;
  margin: 0 auto;
  width: 30em;
}

.white-space {
  height: 125px;
}

.footer {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}
