body {
  color: black;
  font-family: roboto;
  text-align: center;
  margin: 50px;
  padding: 5px;
  border: 2px solid black;
  overflow: scroll;
}

.header {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.content {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

.white-space {
  height: 150px;
}

.footer {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}
