body {
  background: black;
  color: white;
  font-family: roboto;
  text-align: center;
}

.navbar {
  display: inline-block;
  margin: 25px auto 25px auto;
  padding: 10px 0px 10px 0px;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
}

.navbar a {
  text-decoration: none;
  color: white;
  margin: 0px 2px 0px 2px;
}

.navbar a:hover {
  color: gray;
}

.content {
  display: flex;
}

.post-container {
  width: 50%;
  margin: 0px auto 0px auto;
}

.post-title {
}

.post-abstract {
  padding: 10px 0px 10px 0px;
  border-top: solid white 2px;
  border-bottom: solid white 2px;
}

.post-body {
  text-align: justify;
  word-wrap: break-word;
  border-bottom: solid white 2px;
  margin: 0px auto 0px auto;
  padding: 0px 0px 10px 0px;
}

.post-body * {
  
}

.footer {
  font-size: 12px;
}