h2, h3, h4 {
  padding: 0;
  margin: 0;
}

@media (min-width: 1200px) {
    .container{
        max-width: 750px;
    }
}

body {
  background-color: #114B5F;
  font-family: 'Roboto Slab';
}

.navbar {
  margin-top: 15px;
}

.navbar a {
  color: #000000;
  font-size: 18px;
}

.navbar .nav {
  text-align: center;
  background-color: #fdfdfd;
}

.navbar .nav > li {  
  text-align: center;
  display: inline-block;
  width: 100px;
}

.container {
}

.post {
  background-color: #fdfdfd;
  text-align: left;
  padding: 25px;
  margin-bottom: 25px;
}

.post-title {
  margin-bottom: 25px;
}

.post-abstract {
  margin-bottom: 25px;
}

.post-body {
  font-size: 18px;
}

.footer {
  text-align: center;
  background-color: #fdfdfd;
  margin-bottom: 25px;
  padding: 5px;
  font-size: 12px;
  font-weight: lighter;
}
