@media (min-width: 768px) {
  #main-container {
    max-width: 800px;
  }
}

body {
  --color-primary-1: #f2f2f2;
  --color-primary-2: #FFFFFF;
  --color-secondary-1: #2B2D42;
  --color-shadow: #8D99AE;
  --color-text-1: #000000;
  --color-text-2: #FFFFFF;
  --color-links: #6A7FDB;
  --color-separator: #16BAC5;
  --font-xlarge: 20px;
  --font-large: 18px;
  --font-normal: 16px;
  --font-small: 14px;
  --font-xsmall: 12px;
  background-color: var(--color-primary-1);
  font-family: 'Roboto';
  font-size: var(--font-normal);
}

@media (max-width: 550px) {

  body {
    --font-xlarge: 16px;
    --font-large: 14px;
    --font-normal: 12px;
    --font-small: 10px;
    --font-xsmall: 8px;
  }

  #internal-links,
  #external-links {
    margin: 0px;
    padding: 0px;
  }

  #internal-links > li > a {
    margin: 0px;
    padding: 0px;
    height: auto;
  }

  #external-links > li > a {
    margin: 0px;
    padding: 0px;
    height: auto;
  }

  #internal-links > li {
    display: inline-block;
    padding: 5px 5px 0px 0px;
  }

  #external-links > li {
    display: inline-block;
    padding: 5px 0px 0px 5px;
  }

  a.navbar-brand {
    margin: 0px;
    padding: 0px;
    height: auto;
  }

  #main-container .navbar-default {
    padding: 15px;
  }

  #main-container > #posts-container {
    margin-top: 90px;
  }
}

@media (max-width: 240px) {
  ul#external-links {
    float: left;
  }

  #main-container > #posts-container {
    margin-top: 115px;
  }
}

h1 {
  font-size: var(--font-xlarge);
}

h2, blockquote {
  font-size: var(--font-large);
}

h3 {
  font-size: var(--font-normal);
}

h4 {
  font-size: var(--font-small);
}

h5 {
  font-size: var(--font-xsmall);
}

/** NAVIGATION **/

.navbar-default {
  border: none;
  background-color: var(--color-secondary-1);
  box-shadow: 0px 4px 4px var(--color-shadow);
  color: var(--color-text-2);
  margin: 0px;
}

.navbar-header > .navbar-brand,
.navbar-header > .navbar-brand:hover,
.navbar-default .navbar-nav > li >  a, 
.navbar-default .navbar-nav > li >  a:hover,
.navbar-default .navbar-nav > li >  a:visited {
  color: var(--color-text-2);
  font-size: var(--font-large);
}

.navbar-header > .navbar-brand {
  font-weight: bold;
}

.navbar-default .navbar-nav > li >  a:hover,
.navbar-header > .navbar-brand:hover {
  font-weight: bold;
  background-color: var(--color-links);
}

#internal-links {
  float: left;
}

#external-links {
  float: right;
}

/** BLOG POSTS **/

#posts-container {
  margin-top: 65px;
}

.post,
.tags {
  padding: 25px;
  margin-bottom: 15px;
  background-color: var(--color-primary-2);
  box-shadow: 0px 4px 4px var(--color-shadow);
}

.post-title,
.tags-title {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: var(--font-xlarge);
}

.post-title a,
.tags-title p {
  color: var(--color-text-1);
  text-decoration: none;
}

.post-title a:hover,
.post-body a,
.post-body a:hover {
  color: var(--color-links);
}

.post-abstract,
.tags-list {
  color: var(--color-text-1);
  font-weight: lighter;
  font-size: var(--font-large);
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: solid var(--color-separator) 2px;
  border-bottom: solid var(--color-separator) 2px;
}

.tags-list {
  margin-bottom: 25px;
}

.post-abstract p {
  margin: 0px;
  padding: 0px;
}

.post-body {
  font-weight: lighter;
  color: var(--color-text-1);
  margin-top: 25px;
  padding-bottom: 15px;
  border-bottom: solid var(--color-separator) 2px;
  display: none;
}

.post-info {
  height: var(--font-small);
  line-height: var(--font-small);
  margin-top: 25px;
}

.post-date span {
  float: left;
  font-weight: lighter;
  font-size: var(--font-small);
  color: var(--color-text-1);
}

.post-info-button,
.repo-button a {
  float: right;
  margin-left: 10px;
  color: var(--color-text-1);
  font-size: var(--font-large);
  cursor: pointer;
}

.post-info-button:hover,
.repo-button a:hover {
  color: var(--color-links);
}

#comments-button,
#tags-button,
.repo-button {
  display: none;
}

.post-comments {
  margin-top: 25px;
  padding-top: 25px;
  border-top: solid var(--color-separator) 2px;
  display: none;
}

.post-tags {
  display: none;
  background-color: var(--color-primary-2);
  padding: 10px 25px;
  box-shadow: 0px 4px 4px var(--color-shadow);
  margin-bottom: 15px;
}

.post-tags span {
  font-weight: bold;
  font-size: var(--font-small);
  color: var(--color-text-1);
  padding-right: 10px;
}

.post-tag {
  color: var(--color-text-2);
  background-color: var(--color-links);
  font-size: var(--font-small);
  font-weight: lighter;
  border-radius: 10px;
  padding: 2px 10px;
}

.post-tag:hover {
  color: var(--color-text-2);
  font-weight: bold;
  text-decoration: none;
}

.tag {
  color: var(--color-text-2);
  background-color: var(--color-links);
  font-size: var(--font-small);
  font-weight: lighter;
  border-radius: 10px;
  padding: 2px 10px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.tag:hover {
  color: var(--color-text-2);
  font-weight: bold;
  text-decoration: none;
}

/** FOOTER **/

.post-navigate {
  background-color: var(--color-primary-2);
  padding: 10px;
  box-shadow: 0px 4px 4px var(--color-shadow);
  margin-bottom: 25px;
}

.newer-posts-button {
  float: left;
  color: var(--color-links);
}

.older-posts-button {
  float: right;
  color: var(--color-links);
}

.newer-posts-button:hover,
.older-posts-button:hover {
  color: var(--color-links);
  text-decoration: underline;
}

.footer {
  text-align: center;
  background-color: var(--color-primary-2);
  margin-bottom: 25px;
  padding: 5px;
  font-size: var(--font-xsmall);
  font-weight: lighter;
  box-shadow: 0px 4px 4px var(--color-shadow);
}
