<!DOCTYPE html>
<html>
  <head>
    <title>admin - trevorroman.com</title>
    <link rel="stylesheet" type="text/css" href="/static/css/admin.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  
  <body>  
    <div id="flash-messages" class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
      {% for message in messages %}
          <li>{{ message }}</li>
      {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>  
   
    <div class="container">
      <form action="" method="post" name="new-post">
        {{ post_form.hidden_tag() }}

        <div id="select-form" class="container">
          <h4>Posts</h4>
          {{ select_form.posts }}
          {{ select_form.edit }}
          {{ select_form.delete }}
          {{ select_form.new }}
        </div>

        <div id="post-form" class="container">
          <h4>Title</h4>
          {{ post_form.title }}

          <h4>Abstract</h4>
          {{ post_form.abstract }}

          <h4>Body</h4>
          {{ post_form.body }}

          <h4>Repo URL</h4>
          {{ post_form.repo_url }}

          <div id="post-form-buttons" class="container">
            {{ post_form.save }}
            {{ post_form.cancel }}
          </div>
        </div>
      </form>
    </div>
  </body>
</html>