
{% extends "base.html" %}
{% block content %}
<div class="post">
	
	<div class="post-title">
		<h2>Review: I Have No Mouth And I Must Scream</h2>
	</div>

	<div class="post-abstract">
		<h3>In which we discuss the misadventures of a rogue AI that has annhilated most of humanity, and tortures the few that are left.</h3>
	</div>

	<div class="post-content">
		<p>There's a lot that could be said about this book. It was published in 1967, yet the terrible world within its pages is just as relavent to the fears of people today. I heard about this book in an Elon Musk interview. Him, along with Bill Gates, Steven Hawking, and a lot of other really smart guys are united in their fear of the possibility of a rogue AI. They aren't alone either. Movies, books, and all other forms of media proliferate this concept. Ask anyone, it's probably a concept they've thought about or heard about at one point or another.</p>
		<ul>
			<li>2001: A Space Odysset</li>
			<li>Ex Machina</li>
			<li>Portal</li>
			<li>Transcendence</li>
		</ul>
		<p>Both creative and smart people have been trying to warn us for decades about the dangers of AI.</p>
	</div>

</div>
{% endblock %}
