
{% extends "base.html" %}
{% block content %}
<div class="about-me">
	
	<h1>Hello, I'm Trevor Roman.</h1>
	
	<h3>I'm a programmer, and this is my personal website.</h3>
	
	<p>I recently graduated with a Bachelor of Science in Computer Engineering from the University of Central Florida. I focused my studies on robotics, AI, and computer vision. I currently work as a Software Engineer at Katmai Technical Services in Orlando Florida. I've only just begun teaching myself web development so this site is a work in progress.</p>
	
</div>
{% endblock %}
