
{% extends "base.html" %}
{% block content %}

{% for post in posts.items %}
<div id="post-{{loop.index}}" class="post">
	<div id="post-title-{{loop.index}}" class="post-title">
		{% if post.title %}
		<a href="{{ url_for(page, post_id=post.id) }}"><p>{{ post.title }}</p></a>
		{% else %}
		<p>Error: No Title</p>
		{% endif %}
	</div>

	<div id="post-abstract-{{loop.index}}" class="post-abstract">
		{% if post.abstract %}
		<p>{{ post.abstract }}</p>
		{% else %}
		<p>Error: No Abstract</p>
		{% endif %}
	</div>

	<div id="post-body-{{loop.index}}" class="post-body">
		{% if post.body %}
		{{post.body|markdown}}
		{% else %}
		<p>Error: No content is available, please report this to the site admin: trevor@trevorroman.com</p>
		{% endif %}
	</div>

	<div id="post-info-{{loop.index}}" class="post-info">
		<div id="post-date-{{loop.index}}" class="post-date">
			{% if post.updated %}
			<span>{{post.updated.strftime("%B %d, %Y")}}</span>
			{% else %}
			<p>Error: No Date</p>
			{% endif %}
		</div>

		<a class="show-comments-button" title="Show Comments"><i class="fa fa-comments-o"></i></a>

		<div id="post-repo-{{loop.index}}" class="post-repo">
			{% if post.repo_url %}
			<a href="{{post.repo_url}}" target="_blank"><i class="fa fa-code-fork"></i></a>
			{% endif %}
		</div>
	</div>

	<div id="post-comments-{{loop.index}}" class="post-comments">	
		<div id="disqus_thread"></div>
			<script>
				/**
				* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
				*/
				
				var disqus_config = function () {
				this.page.url = "http://localhost:5000/blog/post/{{post.id}}"; // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = "post.{{post.id}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};
				
				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');

				s.src = '//trevorroman.disqus.com/embed.js';

				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>
				Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
			</noscript>
	</div>		
</div>
{% endfor %}

{% if posts.has_prev or posts.has_next %}
<div class="post-navigate">
	<div class="container-fluid">
		{% if posts.has_prev %}
		<a class="newer-posts-button" href="{{ url_for(page, page_index=posts.prev_num) }}">Newer</i></a>
		{% endif %}

		{% if posts.has_next %}
		<a class="older-posts-button" href="{{ url_for(page, page_index=posts.next_num) }}">Older</a>
		{% endif %}
	</div>
</div>
{% endif %}

{% if posts.items.len == 0 %}
<div id="post-0" class="post">
	<div id="post-title-0" class="post-title">
		<h2>Page not found.</h2>
	</div>

	<div id="post-abstract-0" class="post-abstract">
		<h3>This page is either under construction or has been removed.</h3>
	</div>

	<div id="post-body-0" class="post-body">
		<p>If you have any questions please feel free to contact me: trevor@trevorroman.com</p>
	</div>
</div>
{% endif %}

{% endblock %}
