
{% extends "base.html" %}
{% block content %}

{% for post in posts %}
<div id="post-{{loop.index}}" class="post">
	<div id="post-title-{{loop.index}}" class="post-title">
		{% if post.title %}
		<h2>{{ post.title }}</h2>
		{% else %}
		<p>Error: No Title</p>
		{% endif %}
	</div>

	<div id="post-abstract-{{loop.index}}" class="post-abstract">
		{% if post.abstract %}
		<h3>{{ post.abstract }}</h3>
		{% else %}
		<p>Error: No Abstract</p>
		{% endif %}
	</div>

	<div id="post-body-{{loop.index}}" class="post-body">
		{% if post.body %}
		{{post.body|markdown}}
		{% else %}
		<p>Error: No content is available, please report this to the site admin: trevor@trevorroman.com</p>
		{% endif %}
	</div>
</div>
{% endfor %}

{% if posts.count() == 0 %}
<div id="post-0" class="post">
	<div id="post-title-0" class="post-title">
		<h2>Page not found.</h2>
	</div>

	<div id="post-abstract-0" class="post-abstract">
		<h3>This page is either under construction or has been removed.</h3>
	</div>

	<div id="post-body-0" class="post-body">
		<p>If you have any questions please feel free to contact me: trevor@trevorroman.com</p>
	</div>
</div>
{% endif %}

{% endblock %}
